<section id="contact" class="contact layout layout--wide layout-padding--extra-large" data-parallax="scroll" {% if contact_background_image %}data-image-src="{{ contact_background_image.url }}"{% endif %}>
  {% if contact_background_image %}<div class="global__overlay"></div>{% endif %}
  <div class="container">
      <div class="contact__content">
          {% if contact_top_title and contact_title %}
              <h4 class="global__top-title invisible" data-appear-effect="slideInLeft" data-appear-delay="150">{{ contact_top_title }}</h4><br>
              <h3 class="global__title invisible" data-appear-effect="slideInLeft" data-appear-delay="190">{{ contact_title }}</h3>
          {% endif %}
          <div class="contact__contact-me clearfix invisible" data-appear-effect="slideInLeft" data-appear-delay="250">
              <form method="post" action="" id="contact-form" class="form contact-form" enctype="multipart/form-data">
                  <input type="hidden" name="action" value="send_form">
                  <div class="form-group">
                      <input id="full-name" class="input" type="text" oninvalid="this.setCustomValidity('{{ labels.label_error_name }}')" name="full-name" required placeholder="{{ labels.label_full_name }}" >
                  </div>
                  <div class="form-group">
                      <input id="email" class="input" type="email" oninvalid="this.setCustomValidity('{{ labels.label_error_email }}')" name="email" required placeholder="{{ labels.label_email }}">
                  </div>
                  <div class="form-group">
                      <input id="phone" class="input" type="text" name="phone" placeholder="{{ labels.label_phone }}">
                  </div>
                  <div class="form-group">
                      <input id="subject" class="input" type="text" name="subject" placeholder="{{ labels.label_subject }}">
                  </div>
                  <div class="form-group form-group--full">
                      <textarea name="message" class="textarea" placeholder="{{ labels.label_message }}"></textarea>
                  </div>
                  <button type="submit" id="contact-form__submit-button" form="contact-form" class="btn btn--brand">{{ labels.label_button_contact }}</button>
              </form>
          </div>
      </div>
  </div>
</section>
