<section class="layout layout--full-width layout--hero-image layout-padding--none" {% if hero_image %}style="background-image:url('{{ hero_image.url }}');"{% endif %}>
  {% if hero_image %}<div class="global__overlay"></div>{% endif %}
  <div class="container">
      <div class="hero-image__content">
          {% if hero_image_title %}
              <h1 class="hero-image__title invisible" data-appear-effect="slideInLeft" data-appear-delay="150">
                  {{ hero_image_title }}
              </h1>
          {% endif %}
          {% if hero_image_subtitle %}
              <p class="hero-image__subtitle invisible" data-appear-effect="slideInLeft" data-appear-delay="250">
                  {{ hero_image_subtitle }}
              </p>
          {% endif %}
          {% if button_link and button_label %}
                  <a href="{{ button_link }}" class="btn btn--hero invisible js-scroll-to-anchor" data-appear-effect="slideInLeft" data-appear-delay="350" data-hover="{{ button_hover_label }}"><span>{{ button_label }}</span></a>
          {% endif %}
      </div>
  </div>
</section>